{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro helpWithRoles(summaryText, teamEmail) %}

  {% set html %}
    <p>
      Ask your local system administrator (LSA) to add the ‘Non-associations’ role to your account.
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: summaryText,
    html: html,
    classes: "app-help-with-roles"
  }) }}

{% endmacro %}
