{% macro helpWithRoles() %}

  <p>
    Ask your local system administrator (LSA) to add the ‘Non-associations’ role to your account.
  </p>
  <p>
    If you have trouble getting access, email the team at <a href="mailto:non-associations-team@digital.justice.gov.uk">non-associations-team@digital.justice.gov.uk</a>
  </p>

{% endmacro %}
