{% set canViewProfile = user.permissions.canViewProfile(prisoner) %}

<div class="app-key-prisoner-details">
  {% if canViewProfile %}
    <img src="{{ routeUrls.prisonerPhoto(prisoner.prisonerNumber) }}" alt="Photo of {{ prisoner| nameOfPerson }}" class="app-prisoner-photo--small" />
  {% else %}
    <img src="/assets/images/prisoner.jpeg" alt="Photo of {{ prisoner| nameOfPerson }} is not available" class="app-prisoner-photo--small" />
  {% endif %}

  <dl>
    <dt class="govuk-visually-hidden">Prisoner</dt>
    <dd>
      {% if canViewProfile %}
        <a href="{{ dpsUrl }}/prisoner/{{ prisoner.prisonerNumber }}">
          <strong>
            {{ prisoner | reversedNameOfPerson }}
          </strong>
        </a>
      {% else %}
        <strong>
          {{ prisoner | reversedNameOfPerson }}
        </strong>
      {% endif %}
      <br />
      {{ prisoner.prisonerNumber }}
    </dd>
  </dl>

  <dl>
    <dt>Location</dt>
    <dd>
      {{ prisoner | prisonerLocation }}
    </dd>
  </dl>

  {% block extraDetails %}{% endblock %}
</div>
