{% from "govuk/components/table/macro.njk" import govukTable %}

<h2 class="govuk-heading-m govuk-!-margin-top-6">
  {%- if table == "same" -%}
    {{ prisoner.prisonName or "Not known" }}
  {%- elif table == "other" -%}
    Other establishments
  {%- elif table == "any" -%}
    In establishments
  {%- elif table == "outside" -%}
    Not currently in an establishment
  {%- endif -%}
</h2>

{% set tableRows = [] %}
{% for nonAssociation in nonAssociationsGroup %}
  {% set canViewProfile = user.permissions.canViewProfile(nonAssociation.otherPrisonerDetails) %}

  {% set otherPrisonerPhoto %}
    {% if canViewProfile %}
      <img src="{{ routeUrls.prisonerPhoto(nonAssociation.otherPrisonerDetails.prisonerNumber) }}" alt="Photo of {{ nonAssociation.otherPrisonerDetails | nameOfPerson }}" class="app-prisoner-photo" />
    {% else %}
      <img src="/assets/images/prisoner.jpeg" alt="Photo of {{ nonAssociation.otherPrisonerDetails | nameOfPerson }} is not available" class="app-prisoner-photo" />
    {% endif %}
  {% endset %}

  {% set otherPrisonerProfileLink %}
    {% if canViewProfile %}
      <a href="{{ dpsUrl }}/prisoner/{{ nonAssociation.otherPrisonerDetails.prisonerNumber }}">
        <span class="govuk-visually-hidden">View prisoner profile for</span>
        {{ nonAssociation.otherPrisonerDetails | reversedNameOfPerson }}
      </a>
    {% else %}
      {{ nonAssociation.otherPrisonerDetails | reversedNameOfPerson }}
    {% endif %}
    <br />
    {{ nonAssociation.otherPrisonerDetails.prisonerNumber }}
  {% endset %}

  {% set location %}
    {% if table == "same" %}
      {{ nonAssociation.otherPrisonerDetails.cellLocation or "Not known" }}
    {% elif table == "other" or table == "any" %}
      {{ nonAssociation.otherPrisonerDetails.prisonName or "Not known" }}
    {% else %}
      {{ nonAssociation.otherPrisonerDetails | prisonerLocation }}
    {% endif %}
  {% endset %}

  {% set role %}
    {{ nonAssociation.roleDescription }}
  {% endset %}

  {% set restrictionType %}
    {{ nonAssociation.restrictionTypeDescription }}
  {% endset %}

  {% set date %}
    {% if listing == 'closed' %}
      {{ nonAssociation.closedAt | shortDate }}
    {% else %}
      {{ nonAssociation.whenUpdated | shortDate }}
    {% endif %}
  {% endset %}

  {% set actions %}
    <a href="{{ routeUrls.view(prisoner.prisonerNumber, nonAssociation.id) }}">View details</a>
  {% endset %}

  {% set _ = tableRows.push([
    {html: otherPrisonerPhoto, classes: "app-list__cell--photo"},
    {html: otherPrisonerProfileLink, classes: "app-list__cell--prisoner"},
    {html: location, classes: "app-list__cell--location"},
    {html: role, classes: "app-list__cell--role"},
    {html: restrictionType, classes: "app-list__cell--restriction-type"},
    {html: date, classes: "app-list__cell--date"},
    {html: actions, classes: "app-list__cell--actions"}
  ]) %}
{% endfor %}

{% set caption -%}
  Non-associations for {{ prisonerName }}
{%- endset %}

{% if tableRows.length > 0 %}

  <div class="app-sortable-table-container govuk-!-margin-bottom-9">
    {{ govukTable({
      caption: caption,
      captionClasses: "govuk-visually-hidden",
      classes: "app-sortable-table",
      head: tableHead,
      rows: tableRows
    }) }}
  </div>

{% else %}

  <p>
    {{ emptyMessageHtml | safe }}
  </p>

{% endif %}
