$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header';
@import './components/caseload-bar';
@import './components/card';
@import './components/error-pages';

@import './local';
