$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/button';
@import './components/card';
@import './components/caseload-bar';
@import './components/error-pages';
@import './components/field-and-button-group';
@import './components/header';
@import './components/pagination';
@import './components/prisoner-photo';
@import './components/sortable-table';
@import './page/list';

@import './local';
