$govuk-global-styles: true;
$govuk-suppressed-warnings: 'ie8';
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/button';
@import './components/card';
@import './components/caseload-bar';
@import './components/definition-list';
@import './components/error-pages';
@import './components/feedback-banner';
@import './components/header';
@import './components/footer';
@import './components/links';
@import './components/mini-profile-header';
@import './components/prisoner-photo';
@import './components/sortable-table';
@import './page/list';
@import './page/prisoner-search';
@import './page/view';

@import './local';
