.app-list__cell--photo {
  width: 10%;
}

.app-list__cell--prisoner {
  width: 16%;
}

.app-list__cell--location {
  width: 14%;
}

.app-list__cell--role {
  width: 18%;
}

.app-list__cell--restriction-type {
  width: 19%;
}

.app-list__cell--date {
  width: 13%;
}

.app-list__cell--actions {
  width: 10%;
}
