.app-list__cell--photo {
  width: 10%;
}

.app-list__cell--prisoner {
  width: 14%;
}

.app-list__cell--reason {
  width: 10%;
}

.app-list__cell--role {
  width: 10%;
}

.app-list__cell--restriction-type {
  width: 12%;
}

.app-list__cell--comment {
  width: 21%;
}

.app-list__cell--comment--wide {
  width: 31%;
}

.app-list__cell--date-updated {
  width: 13%;
}

.app-list__cell--actions {
  width: 10%;
}
