.app-view__other-prisoner-details {
  display: flex;
  flex-direction: row;
  align-items: start;

  .app-prisoner-photo--large {
    margin-right: 80px;
  }

  table {
    width: 100%;
    table-layout: fixed;

    th, td {
      width: 50%;
    }
  }

  @include govuk-media-query($until: desktop) {
    display: block;

    .app-prisoner-photo--large {
      margin-bottom: govuk-spacing(4);
    }
  }
}
