.app-view__cell--photo {
  width: 10%;
}

.app-view__cell--prisoner {
  width: 14%;
}

.app-view__cell--reason {
  width: 10%;
}

.app-view__cell--role {
  width: 10%;
}

.app-view__cell--restriction-type {
  width: 12%;
}

.app-view__cell--comment {
  width: 21%;
}

.app-view__cell--date-updated {
  width: 13%;
}

.app-view__cell--actions {
  width: 10%;
}
