@include govuk-media-query($until: desktop) {
  .app-sortable-table-container {
    overflow-x: scroll;

    .app-sortable-table {
      min-width: $moj-page-width;
    }
  }
}

.app-sortable-table {
  .govuk-table__header {
    padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(4) 0;
  }

  thead {
    th a {
      display: inline-block;
      position: relative;
      padding-right: 20px;
      color: $govuk-link-colour;

      &::before, &::after {
        position: absolute;
        right: 0;
        font-size: 14px;
        line-height: 1;
      }
    }

    th[aria-sort='none'] {
      a::before {
        content: ' ▲' / '';
        top: 0;
        font-size: 12px;
        color: govuk-colour('mid-grey');
      }
      a::after {
        content: ' ▼' / '';
        top: 12px;
        font-size: 12px;
        color: govuk-colour('mid-grey');
      }
    }

    th[aria-sort='ascending'] {
      a::before {
        content: ' ▲' / '';
        top: 4px;
        color: govuk-colour('black');
      }
    }

    th[aria-sort='descending'] {
      a::after {
        content: ' ▼' / '';
        top: 6px;
        color: govuk-colour('black');
      }
    }
  }
}
