{% extends "../partials/layout.njk" %}

{% set pageTitle = "Non-association details" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Non-associations</span>
      <h1 class="govuk-heading-l">Non-association details</h1>

    </div>
  </div>
{% endblock %}
