{% extends "../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Non-association has been added" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {{ govukPanel({
        titleText: "The non-association has been added to each prisoner’s profile",
        text: ""
      }) }}

      <p class="govuk-!-margin-top-6">
        <a href="{{ routeUrls.prisonerSearch(prisonerNumber) }}">
          View {{ prisonerName | possessiveName }} non-associations
        </a>
      </p>

    </div>
  </div>
{% endblock %}
