{% extends "../partials/layout.njk" %}

{% set pageTitle = "Close a non-association" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Non-associations</span>
      <h1 class="govuk-heading-l">Close a non-association</h1>

      {# TODO: remove #}
      <!-- {{ nonAssociation.id }} -->

    </div>
  </div>
{% endblock %}
