{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " – Home" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">This site is under construction...</h1>
    <p>Please check back later when there is content to view.</p>

  </div>
</div>
{% endblock %}
