{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = prisonerName | possessiveName + " non-associations" %}

{% block content %}

  {% include "../partials/messages.njk" %}
  {% include "../partials/formErrorSummary.njk" %}

  <h1 class="govuk-heading-l">
    {{ prisonerName | possessiveName}} non-associations
  </h1>
  <p class="govuk-!-text-align-right">
    {{ govukButton({
      text: "Add new non-association",
      classes: "app-button--blue",
      element: "a",
      href: routeUrls.prisonerSearch(prisonerNumber)
    }) }}
  </p>

  <nav>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item {% if listing === "open" %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="{{ routeUrls.list(prisonerNumber) }}">
          Open ({{ nonAssociationsList.openCount }})
        </a>
      </li>
      <li class="govuk-tabs__list-item {% if listing === "closed" %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="{{ routeUrls.list(prisonerNumber, true) }}">
          Closed ({{ nonAssociationsList.closedCount }})
        </a>
      </li>
    </ul>
  </nav>

  {% set tableRows = [] %}
  {% for nonAssociation in nonAssociationsList.nonAssociations %}
    {% set otherPrisonerPhoto %}
      <img src="{{ routeUrls.prisonerPhoto(nonAssociation.otherPrisonerDetails.prisonerNumber) }}" alt="Photo of {{ nonAssociation.otherPrisonerDetails | nameOfPerson }}" class="app-prisoner-photo" />
    {% endset %}

    {% set otherPrisonerProfileLink %}
      <a href="{{ dpsUrl }}/prisoner/{{ nonAssociation.otherPrisonerDetails.prisonerNumber }}">
        <span class="govuk-visually-hidden"> View prisoner profile for </span>
        {{ nonAssociation.otherPrisonerDetails | reversedNameOfPerson }}
        <br />
        {{ nonAssociation.otherPrisonerDetails.prisonerNumber }}
      </a>
      <br />
      {{ nonAssociation.otherPrisonerDetails.cellLocation }}
    {% endset %}

    {% set reason %}
      {{ nonAssociation.reasonDescription }}
    {% endset %}

    {% set role %}
      {{ nonAssociation.otherPrisonerDetails.roleDescription }}
    {% endset %}

    {% set restrictionType %}
      {{ nonAssociation.restrictionTypeDescription }}
    {% endset %}

    {% set comment %}
      {{ nonAssociation.closedReason if listing == "closed" else nonAssociation.comment }}
    {% endset %}

    {% set firstCreated %}
      {{ nonAssociation.whenCreated | date }}
      <br />
      by {{ nonAssociation.authorisedBy | default("(not specified)", true) }}
    {% endset %}

    {% set lastUpdated %}
      {{ nonAssociation.whenUpdated | date }}
      <br />
      by {{ nonAssociation.updatedBy | default("(not specified)", true) }}
    {% endset %}

    {% set actions %}
      <a href="{{ routeUrls.update(prisonerNumber, nonAssociation.id) }}">Update</a> | <br />
      <a href="{{ routeUrls.close(prisonerNumber, nonAssociation.id) }}">Close</a>
    {% endset %}

    {% set tableRow = [
      {html: otherPrisonerPhoto, classes: "app-list__cell--photo"},
      {html: otherPrisonerProfileLink, classes: "app-list__cell--prisoner"},
      {html: reason, classes: "app-list__cell--reason"},
      {html: role, classes: "app-list__cell--role"},
      {html: restrictionType, classes: "app-list__cell--restriction-type"},
      {html: comment, classes: "app-list__cell--comment" if listing == "open" else "app-list__cell--comment--wide"},
      {html: lastUpdated, classes: "app-list__cell--date-updated"}
    ] %}
    {% if listing === "open" %}
      {% set _ = tableRow.push(
        {html: actions, classes: "app-list__cell--actions"}
      ) %}
    {% endif %}

    {% set _ = tableRows.push(tableRow) %}
  {% endfor %}

  {% set caption -%}
    Non-associations for {{ prisonerName }}
  {%- endset %}

  {% if tableRows.length > 0 %}

    <div class="app-sortable-table-container">
      {{ govukTable({
        caption: caption,
        captionClasses: "govuk-visually-hidden",
        classes: "app-sortable-table",
        head: tableHead,
        rows: tableRows
      }) }}
    </div>

  {% elif nonAssociationsList %}

    <p class="govuk-!-margin-top-6">
      {% if listing == "closed" %}
        This prisoner has no closed non-associations in {{ prisonName }}.
      {% else %}
        This prisoner has no open non-associations in {{ prisonName }}.
      {% endif %}
    </p>

  {% endif %}

{% endblock %}
