{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro displayCount(number) %}
  {%- if number == 1 -%}
    1 record
  {%- else -%}
    {{ number }} records
  {%- endif -%}
{% endmacro %}

{% set pageTitle = prisonerName | possessiveName + " non-associations" %}

{% block content %}

  {% include "../partials/messages.njk" %}
  {% include "../partials/formErrorSummary.njk" %}

  <h1 class="govuk-heading-l">
    {{ prisonerName | possessiveName}} non-associations
  </h1>

  {% include "../partials/keyPrisonerDetailsForList.njk" %}

  <nav class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item {% if listing === "open" %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="{{ routeUrls.list(prisonerNumber) }}">
          Open ({{ displayCount(nonAssociationsList.openCount) }})
        </a>
      </li>
      <li class="govuk-tabs__list-item {% if listing === "closed" %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="{{ routeUrls.list(prisonerNumber, true) }}">
          Closed ({{ displayCount(nonAssociationsList.closedCount) }})
        </a>
      </li>
    </ul>
  </nav>

  {% if nonAssociationGroups.type == "noGroups" %}

    <p>
      {% if listing == "closed" %}
        {{ prisonerName }} has no closed non-associations.
      {% else %}
        {{ prisonerName }} has no open non-associations.
      {% endif %}
    </p>

  {% elif nonAssociationGroups.type == "threeGroups" %}

    {% set table = "same" %}
    {% set tableHead = tableHeads[table] %}
    {% set nonAssociationsGroup = nonAssociationGroups[table] %}
    {% set emptyMessageHtml %}
      {% if listing == "closed" %}
        {{ prisonerName }} has no closed non-associations in {{ prisoner.prisonName }}.
      {% else %}
        {{ prisonerName }} has no open non-associations in {{ prisoner.prisonName }}.
      {% endif %}
    {% endset %}
    {% include "../partials/nonAssociationGroup.njk" %}

    {% set table = "other" %}
    {% set tableHead = tableHeads[table] %}
    {% set nonAssociationsGroup = nonAssociationGroups[table] %}
    {% set emptyMessageHtml %}
      {% if listing == "closed" %}
        {{ prisonerName }} has no closed non-associations in other establishments.
      {% else %}
        {{ prisonerName }} has no open non-associations in other establishments.
      {% endif %}
    {% endset %}
    {% include "../partials/nonAssociationGroup.njk" %}

    {% set table = "outside" %}
    {% set tableHead = tableHeads[table] %}
    {% set nonAssociationsGroup = nonAssociationGroups[table] %}
    {% set emptyMessageHtml %}
      {% if listing == "closed" %}
        {{ prisonerName }} has no closed non-associations outside an establishment.
      {% else %}
        {{ prisonerName }} has no open non-associations outside an establishment.
      {% endif %}
    {% endset %}
    {% include "../partials/nonAssociationGroup.njk" %}

  {% elif nonAssociationGroups.type == "twoGroups" %}

    {% set table = "any" %}
    {% set tableHead = tableHeads[table] %}
    {% set nonAssociationsGroup = nonAssociationGroups[table] %}
    {% set emptyMessageHtml %}
      {% if listing == "closed" %}
        {{ prisonerName }} has no closed non-associations in an establishment.
      {% else %}
        {{ prisonerName }} has no open non-associations in an establishment.
      {% endif %}
    {% endset %}
    {% include "../partials/nonAssociationGroup.njk" %}

    {% set table = "outside" %}
    {% set tableHead = tableHeads[table] %}
    {% set nonAssociationsGroup = nonAssociationGroups[table] %}
    {% set emptyMessageHtml %}
      {% if listing == "closed" %}
        {{ prisonerName }} has no closed non-associations outside an establishment.
      {% else %}
        {{ prisonerName }} has no open non-associations outside an establishment.
      {% endif %}
    {% endset %}
    {% include "../partials/nonAssociationGroup.njk" %}

  {% endif %}

{% endblock %}
