{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "../partials/keyPrisonerDetails.njk" import keyPrisonerDetails %}
{% from "../partials/nonAssociationGroup.njk" import nonAssociationGroup %}

{% macro displayCount(number) %}
  {%- if number == 1 -%}
    1 record
  {%- else -%}
    {{ number }} records
  {%- endif -%}
{% endmacro %}

{% set pageTitle = prisonerName | possessiveName + " non-associations" %}

{% block content %}

  {% include "../partials/messages.njk" %}
  {% include "../partials/formErrorSummary.njk" %}

  <h1 class="govuk-heading-l">
    {{ prisonerName | possessiveName}} non-associations
  </h1>

  {% call keyPrisonerDetails(routeUrls, prisoner) %}
    {% if not prisoner | isOutside %}
      <div class="app-key-prisoner-details--align-right">
        {{ govukButton({
          text: "Add new non-association",
          classes: "app-button--blue",
          element: "a",
          href: routeUrls.prisonerSearch(prisonerNumber)
        }) }}
      </div>
    {% endif %}
  {% endcall %}

  <nav class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item {% if listing === "open" %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="{{ routeUrls.list(prisonerNumber) }}">
          Open ({{ displayCount(nonAssociationsList.openCount) }})
        </a>
      </li>
      <li class="govuk-tabs__list-item {% if listing === "closed" %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="{{ routeUrls.list(prisonerNumber, true) }}">
          Closed ({{ displayCount(nonAssociationsList.closedCount) }})
        </a>
      </li>
    </ul>
  </nav>

  {% if nonAssociationGroups.type == "threeGroups" %}

    {{ nonAssociationGroup(routeUrls, prisoner.prisonName, tableHead, prisoner, nonAssociationGroups.samePrison, listing) }}
    {{ nonAssociationGroup(routeUrls, 'Other establishments', tableHead, prisoner, nonAssociationGroups.otherPrisons, listing) }}
    {{ nonAssociationGroup(routeUrls, 'Not currently in an establishment', tableHead, prisoner, nonAssociationGroups.transferOrOutside, listing) }}

  {% elif nonAssociationGroups.type == "twoGroups" %}

    {{ nonAssociationGroup(routeUrls, 'In establishments', tableHead, prisoner, nonAssociationGroups.anyPrison, listing) }}
    {{ nonAssociationGroup(routeUrls, 'Not currently in an establishment', tableHead, prisoner, nonAssociationGroups.transferOrOutside, listing) }}

  {% endif %}

{% endblock %}
