{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Select a prisoner" if form.submitted and not form.hasErrors else "Search for a prisoner" %}

{% set pageHeading = "Select a prisoner" if form.submitted and not form.hasErrors else "Search for a prisoner to keep apart from " + prisonerName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../partials/formErrorSummary.njk" %}

      <span class="govuk-caption-l">Non-associations</span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <form method="get" novalidate>
        <div class="app-field-and-button-group">
          {% set fieldId = "q" %}
          {% set field = form.fields[fieldId] %}
          {{ govukInput({
            label: {
              text: "Enter name or prison number",
              classes: "govuk-label--m"
            },
            id: formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Search",
              preventDoubleClick: true
            }) }}

            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              element: "a",
              href: routeUrls.view(prisonerNumber)
            }) }}
          </div>
        </div>

        <input type="hidden" name="page" value="1" /> {#- a new search should always start on first page #}
        <input type="hidden" name="formId" value="{{ formId }}" />
      </form>

      {% if form.submitted and not form.hasErrors %}
        {% if searchResults.content.length > 0 %}

          <p class="govuk-!-text-align-right govuk-!-font-weight-bold">
            Prisoners listed: {{ searchResults.totalElements }}
          </p>

          {% set tableRows = [] %}
          {% for result in searchResults.content %}
            {% set photo %}
              <img src="{{ routeUrls.prisonerPhoto(result.prisonerNumber) }}" alt="Photo of {{ result | nameOfPerson }}" class="app-prisoner-photo" />
            {% endset %}

            {% set link %}
              <a href="{{ routeUrls.add(prisonerNumber, result.prisonerNumber) }}">
                Select prisoner
              </a>
            {% endset %}

            {% set _ = tableRows.push([
              {html: photo},
              {html: result | reversedNameOfPerson, classes: "govuk-!-padding-top-8"},
              {text: result.prisonerNumber, classes: "govuk-!-padding-top-8"},
              {text: result.cellLocation, classes: "govuk-!-padding-top-8"},
              {html: link, classes: "govuk-!-padding-top-8 govuk-!-text-align-right"}
            ]) %}
          {% endfor %}

          <div class="app-sortable-table-container">
            {{ govukTable({
              caption: "Prisoner search results",
              captionClasses: "govuk-visually-hidden",
              classes: "app-sortable-table",
              head: tableHead,
              rows: tableRows
            }) }}
          </div>

          {% if paginationParams %}
            <div class="app-pagination-right-aligned">
              {{ govukPagination(paginationParams) }}
            </div>
          {% endif %}

        {% else %}

          <p>
            0 results found for “{{ form.fields.q.value }}”.
          </p>

        {% endif %}
      {% endif %}

    </div>
  </div>
{% endblock %}
