{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = prisonerName | possessiveName + " non-associations" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Non-associations</span>
      <h1 class="govuk-heading-l">
        {{ prisonerName | possessiveName}} non-associations
      </h1>

      {{ govukButton({
        text: "Add non-association",
        element: "a",
        href: routeUrls.prisonerSearch(prisonerNumber)
      }) }}

    </div>
  </div>
{% endblock %}
